<header class="header" [ngClass]="{ 'shrink': isShrunk }">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img [src]="isShrunk ? 'assets/images/logo1.png' : 'assets/images/logo2.png'" alt="Logo">
      </a>
    </div>

    <nav class="nav">
      <div class="burger-menu" *ngIf="isMobileView" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul [ngClass]="{'desktop-menu': !isMobileView, 'mobile-menu': isMobileView}" [class.active]="menuOpen">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/shipping">Shipping</a></li>
        <li><a routerLink="/cart">Cart</a></li>
      </ul>
    </nav>

    <div class="search-user-actions" *ngIf="!isMobileView">
      <!--      <div class="search">-->
      <!--        <input type="text" placeholder="Search for products">-->
      <!--&lt;!&ndash;        <button type="button">Search</button>&ndash;&gt;-->
      <!--      </div>-->

      <div class="search">
        <span class="icon-search">
          <i class="fas fa-search"></i>
        </span>
        <input type="text" placeholder="Search for products, brands and more">
      </div>

      <div class="user-actions">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
        <a routerLink="/account">Account</a>
      </div>
    </div>
  </div>
</header>
<!--
<header class="header" [ngClass]="{ 'shrink': isShrunk }">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img [src]="isShrunk ? 'assets/images/logo.png' : 'assets/images/logo.png'" alt="Logo">
      </a>
    </div>

    <nav class="nav">
      <div class="burger-menu" *ngIf="isMobileView" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul [ngClass]="{'desktop-menu': !isMobileView, 'mobile-menu': isMobileView}" [class.active]="menuOpen">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/shipping">Shipping</a></li>
        <li><a routerLink="/cart">Cart</a></li>
      </ul>
    </nav>

    <div class="search-user-actions">
      <div class="search">
        <input type="text" placeholder="Search for products, brands, etc.">
        <button type="button">Search</button>
      </div>

      <div class="user-actions">
        <a routerLink="/account"><i class="fas fa-user"></i></a>
        <a routerLink="/wishlist"><i class="fas fa-heart"></i></a>
        <a routerLink="/cart"><i class="fas fa-shopping-bag"></i></a>
      </div>
    </div>
  </div>
</header>-->
