:root {
  --primary-color: #dbac6b; /* Example primary color */
  --secondary-color: #333;
  --accent-color: #ff6b6b;
  --background-color: #f4f4f4;
  --font-family: 'Poppins', sans-serif; /* Example font */
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
